#red {
    color: #F00;
    font-weight: bold;
}
#blue {
    color: #00F;
    font-weight: bold;
}
#green {
    color: #0a0;
    font-weight: bold;
}
#black {
    color: #000;
    font-weight: bold;
}

    